<?php
/*
 * This file is part of Composer.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
error_reporting(E_ALL);
if (function_exists('date_default_timezone_set') && function_exists('date_default_timezone_get')) {
    date_default_timezone_set(@date_default_timezone_get());
}
require __DIR__ . '/../vendor/autoload.php';

$modules = [{modules}];
$modulesDir = '{moduleDir}';

$modulesNamespaces = [];
foreach ($modules as $module) {
    $modulesNamespaces[ucfirst($module)] = $modulesDir . ucfirst($module);
}
$loader = new \Phalcon\Loader();
$loader->registerNamespaces($modulesNamespaces);

$loader->register();