
    /**
     * Test for "{methodComment}".
     *
     * @test
     *
     * @group unit
     *
     * @covers       {fullClassName}::{origMethodName}
     * @expectedException {expected}
     *
     * @dataProvider {dataProviderClassName}::{dataProviderMethodName}()
     *
     * @param mixed[] $mockArgs
     * @param mixed[] $mockTimes
     */
    public function {methodName}Test(array $mockArgs, array $mockTimes): void
    {
        {constructArgumentsInitialize}
        $test = new {className}({constructArguments});
        {argumentsInitialize}
        $test->{origMethodName}({arguments});{additional}
    }
