
    /**
     * Test for "{methodComment}".
     *
     * @test
     *
     * @group unit
     *
     * @covers       {fullClassName}::{origMethodName}
     *
     * @dataProvider {dataProviderClassName}::{dataProviderMethodName}()
     *
     * @param mixed[] $mockArgs
     * @param mixed[] $mockTimes
     */
    public function {methodName}Test(array $mockArgs, array $mockTimes): void
    {
        {argumentsInitialize}
        $test = {className}::{origMethodName}({arguments});
        self::assert{assertion}({expected}, $test);{additional}
    }
