<?php

declare(strict_types=1);

namespace {namespace};
{useStatement}

/**
 * Test for class {className}
 *
 * @class {testClassName}
 *
 * @package {namespace}
 */
class {testClassName} extends UnitTestCase
{{useTraits}
{methods}
}
